html {
    font-family: 'Arial',sans-serif;
  }
  .code {
    font-family: monospace;
    background-color: yellow;
  }
  h1 {
    color: white;
    text-align: center;
    background-color: blue;
  
  }
  h2 {
    color: blue;
    text-align: center;
  }
  h3 {
    color: blue;
    text-align: center;
    
  }
  table {
    border: 2px solid blue;
    width: 650px;
    margin: 0 auto;
  }
  thead {
    background-color: blue;
    color: white;
  }
  td {
    border: 1px solid blue;
    background-color: lightblue;
    font-weight: 600;
    color: #033F51;
  }